<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
    <h1>Dashboard</h1>
    <h2>Welcome, {{ current_user.username }}</h2>
    <form method="POST" action="{{ url_for('dashboard') }}">
        {{ search_form.hidden_tag() }}
        <label for="search_query">Search for a coaster:</label>
        {{ search_form.search_query(size=30) }} {{ search_form.submit() }}
    </form>
    <hr>
    {% if coasters %}
        <h3>Search Results:</h3>
        <ul>
            {% for coaster in coasters %}
            <li>{{ coaster.name }} - {{ coaster.park }} - {{ coaster.location }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>
