<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the Coaster Tracker!</h1>
    <a href="{{ url_for('login') }}">Login Page</a><br>
    <a href="{{ url_for('register') }}">Register Page</a><br>

    <h2>Coaster List</h2>
    <ul>
        {% for coaster in coasters %}
        <li>
            <h3>{{ coaster.name }}</h3>
            <p>Park: {{ coaster.park }}</p>
            <p>Location: {{ coaster.location }}</p>
            <p>Opening Date: {{ coaster.opening_date }}</p>
            <p>Length: {{ coaster.length }} meters</p>
            <p>Height: {{ coaster.height }} meters</p>
            <p>Drop: {{ coaster.drop }} meters</p>
            <p>Speed: {{ coaster.speed }} km/h</p>
            <p>Inversions: {{ coaster.inversions }}</p>
            <p>Vertical Angle: {{ coaster.vertical_angle }} degrees</p>
            <p>Duration: {{ coaster.duration }} minutes</p>
            <p>Link: <a href="{{ coaster.rcdb_link }}">RCDB Link</a></p>
        </li>
        {% else %}
        <p>No coasters found.</p>
        {% endfor %}
    </ul>
</body>
</html>